SERVER_PORT=8081
JWT_SECRET=
JWT_EXPIRATION=86400000
DB_HOST=localhost
DB_PORT=5434
DB_NAME=nexus_db
DB_USERNAME=admin
DB_PASSWORD=
POSTGRES_USER=admin
POSTGRES_PASSWORD=
POSTGRES_DB=nexus_db
ADMIN_DEFAULT_EMAIL=
ADMIN_DEFAULT_PASSWORD=
SDN_ZONE_TYPE=VXLAN
SDN_ZONE_NAME=iris
NATS_URL=nats://localhost:4222
